[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
validate-email = "*"
psycopg2 = "*"
six = "*"
xlwt = "*"
weasyprint = "*"
xhtml2pdf = "*"
python-dotenv = "*"
dj-user-login-history = "*"

[dev-packages]

[requires]
python_version = "3.11"
