{% extends "base.html" %} 
{% block content %} 
{% load static %}
<div class="container mt-5">
    <div class="row mt-4">
        <div class="col-md-10">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'income' %}">Income</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Summary</li>
                </ol>
            </nav>
        </div>
        <div class="col-md-2">
            <a href="{% url 'income'%}" class="btn btn-primary">Back</a>
        </div>
        <div class="row mt-4">
            <div class="col-md-12">
                <canvas id="myChart"></canvas>    
                <canvas id="myChart2" width="840" height="280" style="display: block; box-sizing: border-box; height: 224px; width: 672px;"></canvas>
            </div>
        </div>    
    </div>
</div>
<script src="{% static 'js/statsIncome.js' %}"></script>
{% endblock content %}
