{%load static%}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>PDF Output</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <style>
            @page{
                size: "A4";
                margin: 2.5cm 1.5cm 3.5cm 1.5cm;
                @top-center{
                    content:"Company Name";
                }
            }
        </style>
    </head>
    <body>
        <img src="{%static 'img/applogo.png'%}" alt="">
        <script src="" async defer></script>
        <div class="app-table">
            <table class="table table-stripped table-hover mt-3">
                <thead>
                    <tr>
                        <th>Amount in ({{currency}})</th>
                        <th>Category</th>
                        <th>Date</th>
                        <th>Description</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for expense in values %}
                    <tr>
                        <td>{{expense.amount}}</td>
                        <td>{{expense.category}}</td>
                        <td>{{expense.date}}</td>
                        <td>{{expense.description}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>    
        </div>
    </body>
</html>