{% extends "base.html" %}
{% block title %}Dashboard{% endblock title %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/main-index.css' %}">
<div class="dashboard">
    {% include 'partials/_messages.html' %}
    <div class="summary">
        <div class="card today">
            <h3>Total Income</h3>
            <p>{{incomeCnt}}</p>
            <p>{{totalIncome}}</p>
        </div>
        <div class="card week">
            <h3>This Year</h3>
            <p>{{yincomeCnt}}</p>
            <p>{{yearlyIncome}}</p>
        </div>
        <div class="card month">
            <h3>Total Expenses</h3>
            <p>{{expenseCnt}}</p>
            <p>{{totalExpenses}}</p>
        </div>
        <div class="card year">
            <h3>This Year</h3>
            <p>{{yexpenseCnt}}</p>
            <p>{{yearlyExpense}}</p>
        </div>
    </div>
</div> 
<div class="dashboard">
    <div class="summary">
    </div>
</div> 
{% endblock content %}
